/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
/* line 222, ../sass/grid.scss */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */ }

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
/* line 248, ../sass/grid.scss */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */ }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
/* line 269, ../sass/grid.scss */
.grid--rev {
  direction: rtl;
  text-align: left; }
  /* line 273, ../sass/grid.scss */
  .grid--rev > .grid__item {
    direction: ltr;
    text-align: left; }

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
/* line 284, ../sass/grid.scss */
.grid--full {
  margin-left: 0; }
  /* line 287, ../sass/grid.scss */
  .grid--full > .grid__item {
    padding-left: 0; }

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
/* line 296, ../sass/grid.scss */
.grid--right {
  text-align: right; }
  /* line 299, ../sass/grid.scss */
  .grid--right > .grid__item {
    text-align: left; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
/* line 309, ../sass/grid.scss */
.grid--center {
  text-align: center; }
  /* line 312, ../sass/grid.scss */
  .grid--center > .grid__item {
    text-align: left; }

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
/* line 324, ../sass/grid.scss */
.grid--middle > .grid__item {
  vertical-align: middle; }

/* line 331, ../sass/grid.scss */
.grid--bottom > .grid__item {
  vertical-align: bottom; }

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
/* line 340, ../sass/grid.scss */
.grid--narrow {
  margin-left: -12px; }
  /* line 343, ../sass/grid.scss */
  .grid--narrow > .grid__item {
    padding-left: 12px; }

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
/* line 352, ../sass/grid.scss */
.grid--wide {
  margin-left: -48px; }
  /* line 355, ../sass/grid.scss */
  .grid--wide > .grid__item {
    padding-left: 48px; }

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
/* line 376, ../sass/grid.scss */
.one-whole {
  width: 100%; }

/**
 * Halves
 */
/* line 382, ../sass/grid.scss */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
 * Thirds
 */
/* line 388, ../sass/grid.scss */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

/* line 389, ../sass/grid.scss */
.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
 * Quarters
 */
/* line 395, ../sass/grid.scss */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

/* line 397, ../sass/grid.scss */
.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
 * Fifths
 */
/* line 403, ../sass/grid.scss */
.one-fifth, .two-tenths {
  width: 20%; }

/* line 404, ../sass/grid.scss */
.two-fifths, .four-tenths {
  width: 40%; }

/* line 405, ../sass/grid.scss */
.three-fifths, .six-tenths {
  width: 60%; }

/* line 406, ../sass/grid.scss */
.four-fifths, .eight-tenths {
  width: 80%; }

/**
 * Sixths
 */
/* line 412, ../sass/grid.scss */
.one-sixth, .two-twelfths {
  width: 16.666%; }

/* line 416, ../sass/grid.scss */
.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
 * Eighths
 */
/* line 422, ../sass/grid.scss */
.one-eighth {
  width: 12.5%; }

/* line 424, ../sass/grid.scss */
.three-eighths {
  width: 37.5%; }

/* line 426, ../sass/grid.scss */
.five-eighths {
  width: 62.5%; }

/* line 428, ../sass/grid.scss */
.seven-eighths {
  width: 87.5%; }

/**
 * Tenths
 */
/* line 434, ../sass/grid.scss */
.one-tenth {
  width: 10%; }

/* line 436, ../sass/grid.scss */
.three-tenths {
  width: 30%; }

/* line 440, ../sass/grid.scss */
.seven-tenths {
  width: 70%; }

/* line 442, ../sass/grid.scss */
.nine-tenths {
  width: 90%; }

/**
 * Twelfths
 */
/* line 448, ../sass/grid.scss */
.one-twelfth {
  width: 8.333%; }

/* line 452, ../sass/grid.scss */
.five-twelfths {
  width: 41.666%; }

/* line 454, ../sass/grid.scss */
.seven-twelfths {
  width: 58.333%; }

/* line 458, ../sass/grid.scss */
.eleven-twelfths {
  width: 91.666%; }

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  /* line 376, ../sass/grid.scss */
  .palm--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  /* line 382, ../sass/grid.scss */
  .palm--one-half, .palm--two-quarters, .palm--three-sixths, .palm--four-eighths, .palm--five-tenths, .palm--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  /* line 388, ../sass/grid.scss */
  .palm--one-third, .palm--two-sixths, .palm--four-twelfths {
    width: 33.333%; }

  /* line 389, ../sass/grid.scss */
  .palm--two-thirds, .palm--four-sixths, .palm--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  /* line 395, ../sass/grid.scss */
  .palm--one-quarter, .palm--two-eighths, .palm--three-twelfths {
    width: 25%; }

  /* line 397, ../sass/grid.scss */
  .palm--three-quarters, .palm--six-eighths, .palm--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  /* line 403, ../sass/grid.scss */
  .palm--one-fifth, .palm--two-tenths {
    width: 20%; }

  /* line 404, ../sass/grid.scss */
  .palm--two-fifths, .palm--four-tenths {
    width: 40%; }

  /* line 405, ../sass/grid.scss */
  .palm--three-fifths, .palm--six-tenths {
    width: 60%; }

  /* line 406, ../sass/grid.scss */
  .palm--four-fifths, .palm--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  /* line 412, ../sass/grid.scss */
  .palm--one-sixth, .palm--two-twelfths {
    width: 16.666%; }

  /* line 416, ../sass/grid.scss */
  .palm--five-sixths, .palm--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  /* line 422, ../sass/grid.scss */
  .palm--one-eighth {
    width: 12.5%; }

  /* line 424, ../sass/grid.scss */
  .palm--three-eighths {
    width: 37.5%; }

  /* line 426, ../sass/grid.scss */
  .palm--five-eighths {
    width: 62.5%; }

  /* line 428, ../sass/grid.scss */
  .palm--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  /* line 434, ../sass/grid.scss */
  .palm--one-tenth {
    width: 10%; }

  /* line 436, ../sass/grid.scss */
  .palm--three-tenths {
    width: 30%; }

  /* line 440, ../sass/grid.scss */
  .palm--seven-tenths {
    width: 70%; }

  /* line 442, ../sass/grid.scss */
  .palm--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  /* line 448, ../sass/grid.scss */
  .palm--one-twelfth {
    width: 8.333%; }

  /* line 452, ../sass/grid.scss */
  .palm--five-twelfths {
    width: 41.666%; }

  /* line 454, ../sass/grid.scss */
  .palm--seven-twelfths {
    width: 58.333%; }

  /* line 458, ../sass/grid.scss */
  .palm--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  /* line 376, ../sass/grid.scss */
  .lap--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  /* line 382, ../sass/grid.scss */
  .lap--one-half, .lap--two-quarters, .lap--three-sixths, .lap--four-eighths, .lap--five-tenths, .lap--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  /* line 388, ../sass/grid.scss */
  .lap--one-third, .lap--two-sixths, .lap--four-twelfths {
    width: 33.333%; }

  /* line 389, ../sass/grid.scss */
  .lap--two-thirds, .lap--four-sixths, .lap--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  /* line 395, ../sass/grid.scss */
  .lap--one-quarter, .lap--two-eighths, .lap--three-twelfths {
    width: 25%; }

  /* line 397, ../sass/grid.scss */
  .lap--three-quarters, .lap--six-eighths, .lap--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  /* line 403, ../sass/grid.scss */
  .lap--one-fifth, .lap--two-tenths {
    width: 20%; }

  /* line 404, ../sass/grid.scss */
  .lap--two-fifths, .lap--four-tenths {
    width: 40%; }

  /* line 405, ../sass/grid.scss */
  .lap--three-fifths, .lap--six-tenths {
    width: 60%; }

  /* line 406, ../sass/grid.scss */
  .lap--four-fifths, .lap--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  /* line 412, ../sass/grid.scss */
  .lap--one-sixth, .lap--two-twelfths {
    width: 16.666%; }

  /* line 416, ../sass/grid.scss */
  .lap--five-sixths, .lap--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  /* line 422, ../sass/grid.scss */
  .lap--one-eighth {
    width: 12.5%; }

  /* line 424, ../sass/grid.scss */
  .lap--three-eighths {
    width: 37.5%; }

  /* line 426, ../sass/grid.scss */
  .lap--five-eighths {
    width: 62.5%; }

  /* line 428, ../sass/grid.scss */
  .lap--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  /* line 434, ../sass/grid.scss */
  .lap--one-tenth {
    width: 10%; }

  /* line 436, ../sass/grid.scss */
  .lap--three-tenths {
    width: 30%; }

  /* line 440, ../sass/grid.scss */
  .lap--seven-tenths {
    width: 70%; }

  /* line 442, ../sass/grid.scss */
  .lap--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  /* line 448, ../sass/grid.scss */
  .lap--one-twelfth {
    width: 8.333%; }

  /* line 452, ../sass/grid.scss */
  .lap--five-twelfths {
    width: 41.666%; }

  /* line 454, ../sass/grid.scss */
  .lap--seven-twelfths {
    width: 58.333%; }

  /* line 458, ../sass/grid.scss */
  .lap--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  /* line 376, ../sass/grid.scss */
  .portable--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  /* line 382, ../sass/grid.scss */
  .portable--one-half, .portable--two-quarters, .portable--three-sixths, .portable--four-eighths, .portable--five-tenths, .portable--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  /* line 388, ../sass/grid.scss */
  .portable--one-third, .portable--two-sixths, .portable--four-twelfths {
    width: 33.333%; }

  /* line 389, ../sass/grid.scss */
  .portable--two-thirds, .portable--four-sixths, .portable--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  /* line 395, ../sass/grid.scss */
  .portable--one-quarter, .portable--two-eighths, .portable--three-twelfths {
    width: 25%; }

  /* line 397, ../sass/grid.scss */
  .portable--three-quarters, .portable--six-eighths, .portable--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  /* line 403, ../sass/grid.scss */
  .portable--one-fifth, .portable--two-tenths {
    width: 20%; }

  /* line 404, ../sass/grid.scss */
  .portable--two-fifths, .portable--four-tenths {
    width: 40%; }

  /* line 405, ../sass/grid.scss */
  .portable--three-fifths, .portable--six-tenths {
    width: 60%; }

  /* line 406, ../sass/grid.scss */
  .portable--four-fifths, .portable--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  /* line 412, ../sass/grid.scss */
  .portable--one-sixth, .portable--two-twelfths {
    width: 16.666%; }

  /* line 416, ../sass/grid.scss */
  .portable--five-sixths, .portable--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  /* line 422, ../sass/grid.scss */
  .portable--one-eighth {
    width: 12.5%; }

  /* line 424, ../sass/grid.scss */
  .portable--three-eighths {
    width: 37.5%; }

  /* line 426, ../sass/grid.scss */
  .portable--five-eighths {
    width: 62.5%; }

  /* line 428, ../sass/grid.scss */
  .portable--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  /* line 434, ../sass/grid.scss */
  .portable--one-tenth {
    width: 10%; }

  /* line 436, ../sass/grid.scss */
  .portable--three-tenths {
    width: 30%; }

  /* line 440, ../sass/grid.scss */
  .portable--seven-tenths {
    width: 70%; }

  /* line 442, ../sass/grid.scss */
  .portable--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  /* line 448, ../sass/grid.scss */
  .portable--one-twelfth {
    width: 8.333%; }

  /* line 452, ../sass/grid.scss */
  .portable--five-twelfths {
    width: 41.666%; }

  /* line 454, ../sass/grid.scss */
  .portable--seven-twelfths {
    width: 58.333%; }

  /* line 458, ../sass/grid.scss */
  .portable--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  /* line 376, ../sass/grid.scss */
  .desk--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  /* line 382, ../sass/grid.scss */
  .desk--one-half, .desk--two-quarters, .desk--three-sixths, .desk--four-eighths, .desk--five-tenths, .desk--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  /* line 388, ../sass/grid.scss */
  .desk--one-third, .desk--two-sixths, .desk--four-twelfths {
    width: 33.333%; }

  /* line 389, ../sass/grid.scss */
  .desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  /* line 395, ../sass/grid.scss */
  .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths {
    width: 25%; }

  /* line 397, ../sass/grid.scss */
  .desk--three-quarters, .desk--six-eighths, .desk--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  /* line 403, ../sass/grid.scss */
  .desk--one-fifth, .desk--two-tenths {
    width: 20%; }

  /* line 404, ../sass/grid.scss */
  .desk--two-fifths, .desk--four-tenths {
    width: 40%; }

  /* line 405, ../sass/grid.scss */
  .desk--three-fifths, .desk--six-tenths {
    width: 60%; }

  /* line 406, ../sass/grid.scss */
  .desk--four-fifths, .desk--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  /* line 412, ../sass/grid.scss */
  .desk--one-sixth, .desk--two-twelfths {
    width: 16.666%; }

  /* line 416, ../sass/grid.scss */
  .desk--five-sixths, .desk--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  /* line 422, ../sass/grid.scss */
  .desk--one-eighth {
    width: 12.5%; }

  /* line 424, ../sass/grid.scss */
  .desk--three-eighths {
    width: 37.5%; }

  /* line 426, ../sass/grid.scss */
  .desk--five-eighths {
    width: 62.5%; }

  /* line 428, ../sass/grid.scss */
  .desk--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  /* line 434, ../sass/grid.scss */
  .desk--one-tenth {
    width: 10%; }

  /* line 436, ../sass/grid.scss */
  .desk--three-tenths {
    width: 30%; }

  /* line 440, ../sass/grid.scss */
  .desk--seven-tenths {
    width: 70%; }

  /* line 442, ../sass/grid.scss */
  .desk--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  /* line 448, ../sass/grid.scss */
  .desk--one-twelfth {
    width: 8.333%; }

  /* line 452, ../sass/grid.scss */
  .desk--five-twelfths {
    width: 41.666%; }

  /* line 454, ../sass/grid.scss */
  .desk--seven-twelfths {
    width: 58.333%; }

  /* line 458, ../sass/grid.scss */
  .desk--eleven-twelfths {
    width: 91.666%; } }
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
/* line 731, ../sass/grid.scss */
.demo-block {
  background-color: #f7f7f7;
  color: #31adb5;
  padding: 18px; }
