/* line 7, ../sass/main.scss */
body {
  padding: 50px; }

/* line 10, ../sass/main.scss */
h1 {
  color: #2b9ea6;
  font-family: "Merriweather", sans-serif;
  border-bottom: 1px dotted #eeeeee; }

/* line 11, ../sass/main.scss */
ul {
  list-style-type: none; }
