/* line 8, ../sass/navbar.scss */
.main-nav {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }
  /* line 11, ../sass/navbar.scss */
  .main-nav ul {
    margin: 0;
    padding: 0;
    height: 30px; }
    /* line 15, ../sass/navbar.scss */
    .main-nav ul .level0 {
      display: inline-block;
      font-size: 14px;
      border-left: 1px solid #eeeeee;
      float: left; }
      /* line 20, ../sass/navbar.scss */
      .main-nav ul .level0 a {
        display: inline-block;
        text-decoration: none;
        color: #555555;
        padding: 0 10px;
        line-height: 30px; }
        /* line 26, ../sass/navbar.scss */
        .main-nav ul .level0 a:hover {
          background: #999999;
          color: white; }
    /* line 32, ../sass/navbar.scss */
    .main-nav ul .level0:first-child {
      border-left: none; }
    /* line 35, ../sass/navbar.scss */
    .main-nav ul .dropdown {
      position: relative; }
      /* line 37, ../sass/navbar.scss */
      .main-nav ul .dropdown a {
        padding-right: 30px; }
      /* line 40, ../sass/navbar.scss */
      .main-nav ul .dropdown .arrow {
        position: absolute;
        right: 7px;
        top: 14px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #eeeeee; }
